<div class="navbar-fixed-top">
	<nav class="navbar navbar-default navbar-utility hidden-xs" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="navbar-header">

						<div class="navbar-header-info">
							<img src="/assets/nw-small.png">E&S/Specialty <span class="context">LOGIN DASHBOARD</span> </div>
					</div>
					<div class="collapse navbar-collapse" id="utility">
						<ul class="nav navbar-nav navbar-right utilityLinks">
							<li class="utility-link">
								<a href="#">
									<s>Help</s>
								</a>
							</li>
							<li class="utility-link">
								<a href="#">
									<s>Feedback</s>
								</a>
							</li>
							<li class="utility-link dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="icon icon-user"></i>
									Matt Acton :)<b class="caret"></b>
									</a>
								<ul class="dropdown-menu">
									<li><a href="#">My Account</a></li>
									<li><a href="#">Log Out</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>